body {
    background-color: #FFFFFF;
}

header {
    background-color: #005F30;
    color: #FFFFFF;
}

.banner {
    background-color: #e8f5e9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.card {
    background-color: #F0FFF0;
}

.dropdown-menu {
    background-color: #F0FFF0;
    transition: all 0.3s ease;
}

.dropdown-item {
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #d4edda;
}

.btn-secondary {
    background-color: #F0FFF0;
    color: #005F30;
    border: none;
}

.btn-secondary:hover {
    background-color: #d4edda;
    color: #005F30;
}

.btn-primary {
    background-color: #005F30;
    border-color: #005F30;
}

.btn-primary:hover {
    background-color: #006F40;
    border-color: #006F40;
}

.btn-outline-primary {
    color: #005F30;
    border-color: #005F30;
}

.btn-outline-primary:hover {
    background-color: #005F30;
    color: #FFFFFF;
}

.footer-card {
    border: 1px solid #d4edda; 
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.form-control {
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.card-sesion {
    margin: 15px 0;
    font-weight: lighter;
}

#logo {
    width: 70px;
    height: auto;
}

.card-title {
    text-align: center;
    margin-top: 40px;
}

.card-footeer{
    text-align: center;
    margin: 10px 0 20px 0;
}

.banner {
    background-image: url('../multimedia/banner.jpg');
    background-position: center; 
    position: relative; 
    height: 300px; 
    color: #FFFFFF; 
}


.banner h2 {
    position: relative; 
    z-index: 2; 
    margin-top: 50px; 
}

.bienvenida-titulo{
    text-align: center;
    margin: 25px 0 20px 0;
}

.banner {
    color: #000;
}

.slogan-text {
    font-size: 20px;
    letter-spacing: 1.1px;
}
